:root {
  --red: #f85955;
  --dark-red: #d74246;
  --yellow: #fbbe3f;
  --dark-yellow: #d7a32d;
  --green: #45cc4b;
  --dark-green: #40ad36;
}

.header {
  height: 40px;
  padding-right: 75px;
  display: flex;
  align-items: center;
}

.title {
  flex: 1 1 320px;
  text-align: center;
  font-size: 12px;
  color: #766F79;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bullets {
  margin-left: 12px;
  display: flex;
  flex: 0 0;
  align-items: center;
}

.bullet {
  height: 12px;
  width: 12px;
  display: block;
  background: #ccc;
  border-radius: 100%;
  border: 1px solid;
}

.bullet + .bullet {
  margin-left: 5px;
}

.bullet-red {
  background: var(--red);
  border-color: var(--dark-red);
}

.bullet-yellow {
  background: var(--yellow);
  border-color: var(--dark-yellow);
}

.bullet-green {
  background: var(--green);
  border-color: var(--dark-green);
}

.header.isUrl {
  background: #e8e8e8;
  & .title {
    background: #fff;
    flex: 1 1 320px;
    border-radius: 4px;
    line-height: 26px;
    margin-left: 17px;
    padding: 0 12px;
    text-align: left;
  }
}

.header.dark {
  & .title {
    color: white;
  }

  & .bullet {
    border-color: transparent;
  }

  &.isUrl {
    background: rgba(255, 255, 255, .1);
    & .title {
      background-color: rgba(156, 156, 156, 0.21);
    }
  }
}
