:root {
  --black: #151515;
}

.window {
  width: 500px;
  height: 340px;
  border-radius: 4px;
  text-align: left;
  vertical-align: top;
  margin: 0 20px;
  display: inline-block;
  background-color: white;
  z-index: 1;
  overflow: hidden;
  border: 1px solid #ccc;
  & .body {
    padding: 10px 12px;
    position: relative;
    height: calc(100% - 40px);
    overflow: auto;
  }
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px;
}

.dark {
  border-color: #1b1d1e;
  background-color: #1b1d1e;
}
