 .window {
  border: 1px solid rgb(195, 195, 195);
  width: 500px;
  height: 340px;
  border-radius: 4px;
  box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.11);
  text-align: left;
  vertical-align: top;
  margin: 0 20px;
  display: inline-block;
  background-color: white;
  z-index: 1;
  overflow: hidden;
  &.browser {
    .header {
      background: #e8e8e8;
      .title {
        background: #fff;
        display: inline-block;
        width: 320px;
        border-radius: 4px;
        height: 28px;
        line-height: 28px;
        margin-left: 10px;
        vertical-align: middle;
      }
    }
  }
  &.dark {
    border-color: #1b1d1e;
    background-color: #1b1d1e;
    &.browser {
      .header {
        background: rgba(255, 255, 255, .1);
      }
    }
  }
  .header {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .title {
      display: inline-block;
      width: 362px;
      text-align: center;
      font-size: 12px;
      color: #766F79;
    }
  }
  .body {
    padding: 10px;
    position: relative;
    height: calc(100% - 40px);
    overflow: auto;
  }
  .bullets {
    font-size: 0;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .bullet {
    height: 11px;
    width: 11px;
    display: inline-block;
    background: #ccc;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 5px;
    &.bullet-red {
      background: #DF7065;
    }
    &.bullet-yellow {
      background: #E6BB46;
    }
    &.bullet-green {
      background: #5BCC8B;
    }
  }
}
